{% extends 'base.html.twig' %}

{% block title %}Contactuser index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between title">
        <h1>Contactuser index</h1>
        <a href="{{ path('contactuser_new') }}">Create new</a>
    </div>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Telephone</th>
                <th>Jour ouverture</th>
                <th>Heure ouverture</th>
                <th>Heure fermeture</th>
                <th>Image</th>
                <th>Presentation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contactuser in contactusers %}
            <tr>
{#                <td>{{ contactuser.id }}</td>#}
                <td>{{ contactuser.telephone }}</td>
                <td>{{ contactuser.jourOuverture }}</td>
                <td>{{ contactuser.heureOuverture ? contactuser.heureOuverture|date('H:i') : '' }}</td>
                <td>{{ contactuser.heureFermeture ? contactuser.heureFermeture|date('H:i') : '' }}</td>
                <td><img src="{{ asset(contactuser.image.imgpath) }}" width="150px"></td>
                <td>{{ contactuser.presentation |raw }}</td>
                <td>
                    <a href="{{ path('contactuser_show', {'id': contactuser.id}) }}">show</a>
                    <a href="{{ path('contactuser_edit', {'id': contactuser.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
