{% extends 'base.html.twig' %}

{% block title %}Contactuser index{% endblock %}

{% block body %}
    <h1>Contactuser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Telephone</th>
                <th>Jour_ouverture</th>
                <th>Heure_ouverture</th>
                <th>Heure_fermeture</th>
                <th>Presentation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contactuser in contactusers %}
            <tr>
                <td>{{ contactuser.id }}</td>
                <td>{{ contactuser.telephone }}</td>
                <td>{{ contactuser.jourOuverture }}</td>
                <td>{{ contactuser.heureOuverture ? contactuser.heureOuverture|date('H:i:s') : '' }}</td>
                <td>{{ contactuser.heureFermeture ? contactuser.heureFermeture|date('H:i:s') : '' }}</td>
                <td>{{ contactuser.presentation }}</td>
                <td>
                    <a href="{{ path('contactuser_show', {'id': contactuser.id}) }}">show</a>
                    <a href="{{ path('contactuser_edit', {'id': contactuser.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contactuser_new') }}">Create new</a>
{% endblock %}
