{% extends 'base.html.twig' %}

{% block title %}Contactuser{% endblock %}

{% block body %}
<div class="d-flex justify-content-between title">
    <h1>Informations personnelles</h1>
    <a class="admin-link" href="{{ path('contactuser_index') }}">
        <button class="btn admin-btn" role="button">retour</button>
    </a>
</div>
<table class="table">
    <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ contactuser.id }}</td>#}
{#            </tr>#}
        <tr class="text-center">
            <th>Téléphone</th>
            <td>{{ contactuser.telephone }}</td>
        </tr>
        <tr class="text-center">
            <th>Jours d'ouverture</th>
            <td>{{ contactuser.jourOuverture }}</td>
        </tr>
        <tr class="text-center">
            <th>Heure d'ouverture</th>
            <td>{{ contactuser.heureOuverture ? contactuser.heureOuverture|date('H:i') : '' }}</td>
        </tr>
        <tr class="text-center">
            <th>Heure de fermeture</th>
            <td>{{ contactuser.heureFermeture ? contactuser.heureFermeture|date('H:i') : '' }}</td>
        </tr>
        <tr class="text-center">
            <th>Image</th>
            <td><img src="{{asset(contactuser.image.imgpath) }}" width="150px"></td>
        </tr>
        <tr class="text-center">
            <th>Présentation</th>
            <td>{{ contactuser.presentation |raw}}</td>
        </tr>
    </tbody>
</table>
<div class="container">
    <div class="row text-center mb-3">
        <div class="col">
            <a class="admin-link" href="{{ path('contactuser_edit', {'id': contactuser.id}) }}">
                <button class="btn admin-btn">editer</button>
            </a>
        </div>
        <div class="col">
            {{ include('contactuser/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
