{% extends 'base.html.twig' %}

{% block title %}Pressbook index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between title">
        <h1>Pressbook index</h1>
        <a href="{{ path('pressbook_new') }}">Create new</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Url</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pressbook in pressbooks %}
            <tr>
                <td>{{ pressbook.id }}</td>
                <td>{{ pressbook.title }}</td>
                <td>{{ pressbook.url }}</td>
                <td><img src="{{ asset(pressbook.image.imgpath) }}" width="150px" height="150px"></td>
                <td>
                    <a href="{{ path('pressbook_show', {'id': pressbook.id}) }}">show</a>
                    <a href="{{ path('pressbook_edit', {'id': pressbook.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
