{% extends 'base.html.twig' %}

{% block title %}Pressbook index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between title">
        <h1>Articles de presse</h1>
        <a class="admin-link" href="{{ path('pressbook_new') }}">
            <button class="btn admin-btn" role="button">Creer</button>
        </a>
    </div>
    <table class="table">
        <thead>
            <tr class="text-center">
{#                <th>Id</th>#}
                <th>Titre</th>
                <th>Url</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pressbook in pressbooks %}
            <tr class="text-center">
{#                <td>{{ pressbook.id }}</td>#}
                <td>{{ pressbook.title }}</td>
                <td>{{ pressbook.url }}</td>
                <td><img src="{{ asset(pressbook.image.imgpath) }}" alt="{{ asset(pressbook.image.alt) }}" width="150px" height="150px"></td>
                <td class="data-center">
                    <a class="admin-link" href="{{ path('pressbook_show', {'id': pressbook.id}) }}">
                        <button class="btn admin-btn" role="button">Voir</button>
                    </a>
                    <a class="admin-link" href="{{ path('pressbook_edit', {'id': pressbook.id}) }}">
                        <button class="btn admin-btn" role="button">Editer</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Données non trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
