{% extends 'base.html.twig' %}

{% block title %}Actualite index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1>Actualite index</h1>
        <a href="{{ path('actualite_new') }}">Create new</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Module</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Lieu</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualite in actualites %}
            <tr>
                <td>{{ actualite.id }}</td>
                <td>{{ actualite.titre }}</td>
                <td>{{ actualite.description }}</td>
                <td>{% for module in actualite.module %}
                        <div>{{ module.nom }}</div>
                    {% endfor %}
                </td>
                <td>{{ actualite.date ? actualite.date|date('d-m-Y') : '' }}</td>
                <td>{{ actualite.heure ? actualite.heure|date('H:i') : '' }}</td>
                <td>{{ actualite.lieu }}</td>
                <td>{% if actualite.image %}
                        <img src="{{ asset(actualite.image.imgpath) }}" width="150px" height="150px">
                    {% endif %}</td>
                <td>
                    <a href="{{ path('actualite_show', {'id': actualite.id}) }}">show</a>
                    <a href="{{ path('actualite_edit', {'id': actualite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
