{% extends 'base.html.twig' %}

{% block title %}Actualite index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1>Actualite index</h1>
        <a class="admin-link" href="{{ path('actualite_new') }}">
            <button class="btn admin-btn" role="button">Creer</button>
        </a>
    </div>

    <table class="table">
        <thead>
            <tr class="row-center">
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Module</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Lieu</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualite in actualites %}
            <tr>
                <td>{{ actualite.id }}</td>
                <td>{{ actualite.titre }}</td>
                <td>{{ actualite.description |raw }}</td>
                <td>{% for module in actualite.module %}
                        <div class="container">
                            <div class="row">
                                <div class="col-6">{{ module.nom }}</div>
                            </div>
                        </div>

                    {% endfor %}
                </td>
                <td>{{ actualite.date ? actualite.date|date('d-m-Y') : '' }}</td>
                <td>{{ actualite.heure ? actualite.heure|date('H:i') : '' }}</td>
                <td>{{ actualite.lieu }}</td>
                <td>{% if actualite.image %}
                        <img src="{{ asset(actualite.image.imgpath) }}" width="150px" height="150px">
                    {% endif %}</td>
                <td class="data-center">
                    <a class="admin-link" href="{{ path('actualite_show', {'id': actualite.id}) }}">
                        <button class="btn admin-btn" role="button">Voir</button>
                    </a>
                    <a class="admin-link" href="{{ path('actualite_edit', {'id': actualite.id}) }}">
                        <button class="btn admin-btn" role="button">Editer</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Données non trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
