{% extends 'base.html.twig' %}

{% block title %}Actualite{% endblock %}

{% block body %}
    <h1>Actualite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actualite.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ actualite.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ actualite.description }}</td>
            </tr>
            <tr>
                <th>Module</th>
                <td>{% for module in actualite.module %}
                        <div>{{ module.nom }}</div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ actualite.date ? actualite.date|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ actualite.heure ? actualite.heure|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ actualite.lieu }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset(actualite.image.imgpath) }}" width="150px"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actualite_index') }}">back to list</a>

    <a href="{{ path('actualite_edit', {'id': actualite.id}) }}">edit</a>

    {{ include('actualite/_delete_form.html.twig') }}
{% endblock %}
