{% extends 'base.html.twig' %}

{% block title %}Cible index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between title">
        <h1>Cible index</h1>
        <a href="{{ path('cible_new') }}">Create new</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cible in cibles %}
            <tr>
                <td>{{ cible.id }}</td>
                <td>{{ cible.nom }}</td>
                <td>
                    <a href="{{ path('cible_show', {'id': cible.id}) }}">show</a>
                    <a href="{{ path('cible_edit', {'id': cible.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
