{% extends 'base.html.twig' %}

{% block title %}Prestation index{% endblock %}

{% block body %}
    <h1>Prestation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cibles</th>
                <th>Catégorie</th>
                <th>Nom</th>
                <th>Modules</th>
                <th>Description</th>
                <th>Prix Particulier</th>
                <th>Prix Professionnel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation in prestations %}
            <tr>
                <td>{{ prestation.id }}</td>
                <td>{% for cible in prestation.cibles %}
                        {{ cible.nom }}
                    {% endfor %}
                </td>
                <td>{{ prestation.categorie.nom }}</td>
                <td>{{ prestation.nom }}</td>
                <td>{% for module in prestation.modules %}
                        <div>{{ module.nom }}</div>
                    {% endfor %}
                </td>
                <td>{{ prestation.description }}</td>
                <td>{% for price in prestation.prices if price.isDesactivated == false %}
                        {% for targetprice in price.targetprices if targetprice.value == 0%}
                            <span>{{ price.value }}</span>
                        {% endfor %}
                    {% endfor %}
                </td>
                <td>{% for price in prestation.prices if price.isDesactivated == false %}
                        {% for targetprice in price.targetprices if targetprice.value == 10%}
                            <span>{{ price.value }}</span>
                        {% endfor %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('prestation_show', {'id': prestation.id}) }}">show</a>
                    <a href="{{ path('prestation_edit', {'id': prestation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prestation_new') }}">Create new</a>
{% endblock %}
