{% extends 'base.html.twig' %}

{% block title %}Prestation index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between title">
        <h1>Prestation index</h1>
        <a class="admin-link" href="{{ path('prestation_new') }}">
            <button class="btn admin-btn" role="button">Creer</button>
        </a>
    </div>

    <table class="table">
        <thead>
            <tr class="row-center">
                <th>Id</th>
                <th>Cibles</th>
                <th>Catégorie</th>
                <th>Nom</th>
                <th>Modules</th>
                <th>Description</th>
                <th>Prix Particulier</th>
                <th>Prix Professionnel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation in prestations %}
            <tr>
                <td>{{ prestation.id }}</td>
                <td>{% for cible in prestation.cibles %}
                        {{ cible.nom }}
                    {% endfor %}
                </td>
                <td>{{ prestation.categorie.nom }}</td>
                <td>{{ prestation.nom }}</td>
                <td>{% for module in prestation.modules %}
                        <div class="container">
                            <div class="row">
                                <div class="col-6">{{ module.nom }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </td>
                <td>{{ prestation.description |raw }}</td>
{#                Affichage des prix #}
                {% for price in prestation.prices %}
                    <td>
                        {% for targetprice in price.targetprices%}
                            {% if  targetprice.value == 0 %}
                                <span>{{ price.value }}</span>
                            {% else %}
                                <span>{{ price.value }}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
{#                  une autre version de l'affichage#}
{#                #}
{#                <td>{% for price in prestation.prices if price.isDesactivated == false %}#}
{#                        {% for targetprice in price.targetprices if targetprice.value == 0 %}#}
{#                            <span>{{ price.value }}</span>#}
{#                        {% endfor %}#}
{#                    {% endfor %}#}
{#                </td>#}
{#                <td>{% for price in prestation.prices if price.isDesactivated == false %}#}
{#                        {% for targetprice in price.targetprices if targetprice.value == 10 %}#}
{#                            <span>{{ price.value }}</span>#}
{#                        {% endfor %}#}
{#                    {% endfor %}#}
{#                </td>#}
                <td class="data-center">
                    <a class="admin-link" href="{{ path('prestation_show', {'id': prestation.id}) }}">
                        <button class="btn admin-btn" role="button">Voir</button>
                    </a>
                    <a class="admin-link" href="{{ path('prestation_edit', {'id': prestation.id}) }}">
                        <button class="btn admin-btn" role="button">Editer</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Données non trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
