{% extends 'base.html.twig' %}

{% block title %}Prestation{% endblock %}

{% block body %}
    <h1>Prestation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestation.id }}</td>
            </tr>
            <tr>
                <th>Cible</th>
                <td>{{ prestation.cible }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ prestation.categorie }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ prestation.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ prestation.description }}</td>
            </tr>
            <tr>
                <th>Modules</th>
                <td>{% for module in prestation.module %}
                        <br><div>{{ module.nom }}</div>
                        <div>{{ module.duree ? module.duree|date('H:i') : '' }}</div>
                        <div>{{ module.description }}</div><br>
                    {% endfor %}
                </td>
            <tr>
                <th>Prix particulier</th>
                <td>{% for prix in prestation.prix %}
                        {{ prestation.prixParticulier }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Prix entreprise</th>
                <td>{% for prix in prestation.prix %}
                        <div>{{ prix.prixEntreprise }}</div>
                    {% endfor %}
                </td>
            </tr>

            </tr>
        </tbody>
    </table>

    <a href="{{ path('prestation_index') }}">back to list</a>

    <a href="{{ path('prestation_edit', {'id': prestation.id}) }}">edit</a>

    {{ include('prestation/_delete_form.html.twig') }}
{% endblock %}
