{% extends 'base.html.twig' %}

{% block title %}Module index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between title">
        <h1>Module index</h1>
        <a href="{{ path('module_new') }}">
            <button class="btn admin-btn" role="button">Creer</button>
        </a>
    </div>

    <table class="table">
        <thead>
            <tr class="row-center">
{#                <th>Id</th>#}
                <th>Nom</th>
                <th>Duree</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
{#                <td>{{ module.id }}</td>#}
                <td>{{ module.nom }}</td>
                <td>{{ module.duree ? module.duree|date('H:i') : '' }}</td>
                <td>{{ module.description |raw }}</td>
                <td class="data-center">
                    <a class="admin-link" href="{{ path('module_show', {'id': module.id}) }}">
                        <button class="btn admin-btn" role="button">Voir</button>
                    </a>
                    <a class="admin-link" href="{{ path('module_edit', {'id': module.id}) }}">
                        <button class="btn admin-btn" role="button">Editer</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Données non trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
