{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center title">
        <h1>Message</h1>
    </div>

    <table class="table">
        <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ contact.id }}</td>#}
{#            </tr>#}
            <tr>
                <th>Nom</th>
                <td>{{ contact.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contact.firstname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Cible</th>
                <td>{{ contact.cible }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ contact.category }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.message }}</td>
            </tr>
            <tr>
                <th>Date d'envoi</th>
                <td>{{ contact.sent ? contact.sent|date('d-m-Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="admin-link" href="{{ path('contact_index') }}">
        <button class="btn admin-btn">retour</button>
    </a>

{#    <a href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>#}

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
