<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Ma Sommelière{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css') }}"
                  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                  crossorigin="anonymous">
            <script src="{{ asset ('https://cdn.ckeditor.com/ckeditor5/12.1.0/classic/ckeditor.js') }}"></script>
            <style>
                header{
                    margin-bottom: 20px;
                }
                div ul.navbar-nav{
                    align-content: center;
                    width: 100%;
                }
                li a.nav-link{
                    color: #A60815 !important;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                div.title{
                    padding-left: 10px;
                    padding-right: 10px;
                }
                div.authentification{
                    height: 70vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }
                h1{
                    margin-left: 10px;
                }
                h5.log a{
                    color: #A60815;
                    font-size: 16px;
                    font-weight: bold;
                }
                h5.log a.btn.btn-outline-danger{
                    border-color: #A60815;
                }
                h5.log a.btn.btn-outline-danger:hover{
                    background-color: #A60815;
                    border-color: #A60815;
                }
                .table td{
                    vertical-align: middle;
                }
                .row-center{
                    text-align: center;
                }
                .t-body-center{
                    text-align: center;
                }
                .data-center{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                }
                .admin-link{
                    background: #e5e5e5;
                    margin: 10px;
                    min-width: 100px;
                }
                .admin-btn{
                    color: #A60815;
                    font-weight: 600;
                    text-decoration: none;
                    width: 100%;
                    text-transform: uppercase;
                }
                .admin-btn:hover{
                    background: #A60815;
                    color: white;
                }
                .admin-valid{
                    max-width: fit-content;
                    margin: 10px;
                    position: relative;
                    left: 50%;
                }
                .edit-btn{
                    display: flex;
                    justify-content: space-around;
                }
                .cat-edit-div{
                    text-align: end;
                }
                .cat-edit-btn{
                    width: 100px;
                }
                .form-delete{
                    position: absolute;
                    margin-left: 10px;
                }
                div#actualite_module input{
                    margin: 5px;
                    height: 15px;
                    width: 15px;
                }
                div#actualite_module label{
                    width: 20%;
                    border: solid 1px black;
                    margin-right: 49px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                div#prestation_modules input, div#prestation_cibles input{
                    margin: 5px;
                    height: 15px;
                    width: 15px;
                }
                div#prestation_modules label{
                    width: 28%;
                    border: solid 1px black;
                    margin-right: 49px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                div#prestation_cibles label, label#prestation_categorie{
                    width: 20%;
                    border: solid 1px black;
                    margin-right: 49px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                select#prestation_categorie, label, input#prestation_nom, input#prestation_prices_0_value {
                    margin: 5px;
                }
                #prestation_prices_0_targetprices_0 div label,
                input#prestation_prices_1_targetprices_0_value, input#prestation_prices_0_targetprices_0_value,
                #prestation_prices_1_targetprices_0 div label{
                    display: none;
                }
                div#prestation_prices_0, div#prestation_prices_1 {
                    text-align: center;
                }
                div#prestation div label.required {
                    display: block;
                }

            </style>
        {% endblock %}
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img class="logo" alt="logo Ma Sommelière" src="{{ asset ('../assets/images/logo-ma-sommeliere.jpg') }}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ asset ('categorie') }}">Catégories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ asset ('module') }}">Modules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ asset ('prestation') }}">Prestations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ asset ('actualite') }}">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ asset ('contactuser') }}">Informations personnelles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ asset ('pressbook') }}">Articles de presse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ asset ('pdf') }}">Pdf</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

        {% block body %}

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset ('https://code.jquery.com/jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="{{ asset ('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="{{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
