{% extends 'base.html.twig' %}

{% block title %}Pdf index{% endblock %}

{% block body %}
    <h1>Pdf index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Chemin relatif</th>
                <th>Chemin absolu</th>
                <th>Pdf</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pdf in pdfs %}
            <tr>
                <td>{{ pdf.id }}</td>
                <td>{{ pdf.pathrelatif }}</td>
                <td>{{ pdf.pathabsolu }}</td>
                <td>{{ pdf.file }}</td>
                <td>
                    <a href="{{ path('pdf_show', {'id': pdf.id}) }}">show</a>
                    <a href="{{ path('pdf_edit', {'id': pdf.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pdf_new') }}">Create new</a>
{% endblock %}
