{% extends 'base.html.twig' %}

{% block title %}Catégorie index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between title">
        <h1>Catégories</h1>
        <a class="admin-link" href="{{ path('categorie_new') }}">
            <button class="btn admin-btn" role="button">Creer</button>
        </a>
    </div>
    <table class="table">
        <thead>
            <tr class="text-center">
{#                <th>Id</th>#}
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr class="text-center">
{#                <td>{{ categorie.id }}</td>#}
                <td>{{ categorie.nom }}</td>
                <td class="data-center">
{#                    <a class="admin-link" href="{{ path('categorie_show', {'id': categorie.id}) }}">#}
{#                        <button class="btn admin-btn" role="button">Voir</button>#}
{#                    </a>#}
                    <a class="admin-link" href="{{ path('categorie_edit', {'id': categorie.id}) }}">
                        <button class="btn admin-btn" role="button">Editer</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Données non trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
