{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between title">
        <h1>Catégorie</h1>
        <a class="admin-link" href="{{ path('categorie_index') }}">
            <button class="btn admin-btn" role="button">retour</button>
        </a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        </tbody>
    </table>
    <div class="cat-edit-div">
        <a class="admin-link" href="{{ path('categorie_edit', {'id': categorie.id}) }}">
            <button class="btn admin-btn cat-edit-btn">editer</button>
        </a>
    </div>
    <div>
        {{ include('categorie/_delete_form.html.twig') }}
    </div>
{% endblock %}
