{% extends 'base.html.twig' %}

{% block title %}Targetprice index{% endblock %}

{% block body %}
    <h1>Targetprice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for targetprice in targetprices %}
            <tr>
                <td>{{ targetprice.id }}</td>
                <td>{{ targetprice.nom }}</td>
                <td>{{ targetprice.value }}</td>
                <td>
                    <a href="{{ path('targetprice_show', {'id': targetprice.id}) }}">show</a>
                    <a href="{{ path('targetprice_edit', {'id': targetprice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('targetprice_new') }}">Create new</a>
{% endblock %}
