{% extends 'base.html.twig' %}

{% block title %}PriceType index{% endblock %}

{% block body %}
    <h1>PriceType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for price_type in price_types %}
            <tr>
                <td>{{ price_type.id }}</td>
                <td>{{ price_type.nom }}</td>
                <td>{{ price_type.value }}</td>
                <td>
                    <a href="{{ path('price_type_show', {'id': price_type.id}) }}">show</a>
                    <a href="{{ path('price_type_edit', {'id': price_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('price_type_new') }}">Create new</a>
{% endblock %}
